.product-list-container {
  overflow-x: scroll;
  margin: 2rem 2rem;
  max-width: 144rem;
}

.product-list-header {
  display: block;
  color: #542e90;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  max-width: 144rem;
  padding: 0 14rem;
}
.product-list-subheader {
  color: #575756;
  font-size: 1.25 rem;
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
  max-width: 144rem;
  padding: 0 14rem;
}

.product-list {
  white-space: nowrap;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  max-width: 144rem;
  padding: 0 14rem;
  margin: 0 auto;

  &::-webkit-scrollbar {
    height: 0.5rem;
    width: inherit;
  }

  &::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #542e90;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #542e90;
  }
}
